@import "custom.scss";


.wrapper {
    .box {
        .btn-box {
            .mr {
                button.sticks {
                    color: #454d4c;
                    background-color: $melon;
                }

                button.crash {
                    color: #454d4c;
                    background-color: $papaya;
                }
            }
        }
    }
}
