/*------------------------------------
- COLOR Melon
------------------------------------*/
.alert-Melon {
  color: #61c645;
  background-color: #C0C0C0;
  border-color: #12810d;
}

.alert-Melon hr {
  border-top-color: #117107;
}

.alert-Melon .alert-link {
  color: #4ba632;
}

.badge-Melon {
  color: #212529;
  background-color: #b1e3a3;
}

.badge-Melon[href]:hover,
.badge-Melon[href]:focus {
  color: #212529;
  background-color: #8fd77b;
}

.bg-Melon {
  background-color: #b1e3a3 !important;
}

a.bg-Melon:hover,
a.bg-Melon:focus,
button.bg-Melon:hover,
button.bg-Melon:focus {
  background-color: #8fd77b !important;
}

.border-Melon {
  border-color: #b1e3a3 !important;
}

.btn-Melon {
  color: #212529;
  background-color: #b1e3a3;
  border-color: #b1e3a3;
}

.btn-Melon:hover {
  color: #212529;
  background-color: #99da87;
  border-color: #8fd77b;
}

.btn-Melon:focus,
.btn-Melon.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 227, 163, 0.5);
}

.btn-Melon.disabled,
.btn-Melon:disabled {
  color: #212529;
  background-color: #b1e3a3;
  border-color: #b1e3a3;
}

.btn-Melon:not(:disabled):not(.disabled):active,
.btn-Melon:not(:disabled):not(.disabled).active,
.show > .btn-Melon.dropdown-toggle {
  color: #212529;
  background-color: #8fd77b;
  border-color: #85d370;
}

.btn-Melon:not(:disabled):not(.disabled):active:focus,
.btn-Melon:not(:disabled):not(.disabled).active:focus,
.show > .btn-Melon.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 227, 163, 0.5);
}

.btn-outline-Melon {
  color: #b1e3a3;
  background-color: transparent;
  border-color: #b1e3a3;
}

.btn-outline-Melon:hover {
  color: #212529;
  background-color: #b1e3a3;
  border-color: #b1e3a3;
}

.btn-outline-Melon:focus,
.btn-outline-Melon.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 227, 163, 0.5);
}

.btn-outline-Melon.disabled,
.btn-outline-Melon:disabled {
  color: #b1e3a3;
  background-color: transparent;
}

.btn-outline-Melon:not(:disabled):not(.disabled):active,
.btn-outline-Melon:not(:disabled):not(.disabled).active,
.show > .btn-outline-Melon.dropdown-toggle {
  color: #212529;
  background-color: #b1e3a3;
  border-color: #b1e3a3;
}

.btn-outline-Melon:not(:disabled):not(.disabled):active:focus,
.btn-outline-Melon:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-Melon.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 227, 163, 0.5);
}

.list-group-item-Melon {
  color: #61c645;
  background-color: #12810d;
}

.list-group-item-Melon.list-group-item-action:hover,
.list-group-item-Melon.list-group-item-action:focus {
  color: #61c645;
  background-color: #117107;
}

.list-group-item-Melon.list-group-item-action.active {
  color: #212529;
  background-color: #61c645;
  border-color: #61c645;
}

.table-Melon,
.table-Melon > th,
.table-Melon > td {
  background-color: #12810d;
}

.table-hover .table-Melon:hover {
  background-color: #117107;
}

.table-hover .table-Melon:hover > td,
.table-hover .table-Melon:hover > th {
  background-color: #117107;
}

.text-Melon {
  color: #b1e3a3 !important;
}

a.text-Melon:hover,
a.text-Melon:focus {
  color: #8fd77b !important;
}/*# sourceMappingURL=melon.css.map */