/*------------------------------------
- COLOR grape
------------------------------------*/
.alert-grape {
  color: #6d30ad;
  background-color: rgba(17, 33, 28, 0.062745098) 7;
  border-color: rgba(16, 113, 12, 0.062745098) 2;
}

.alert-grape hr {
  border-top-color: #fbf8fd;
}

.alert-grape .alert-link {
  color: #542485;
}

.badge-grape {
  color: #212529;
  background-color: #ab7ddb;
}

.badge-grape[href]:hover,
.badge-grape[href]:focus {
  color: #212529;
  background-color: #9155cf;
}

.bg-grape {
  background-color: #ab7ddb !important;
}

a.bg-grape:hover,
a.bg-grape:focus,
button.bg-grape:hover,
button.bg-grape:focus {
  background-color: #9155cf !important;
}

.border-grape {
  border-color: #ab7ddb !important;
}

.btn-grape {
  color: #212529;
  background-color: #ab7ddb;
  border-color: #ab7ddb;
}

.btn-grape:hover {
  color: #212529;
  background-color: #9861d3;
  border-color: #9155cf;
}

.btn-grape:focus,
.btn-grape.focus {
  box-shadow: 0 0 0 0.2rem rgba(171, 125, 219, 0.5);
}

.btn-grape.disabled,
.btn-grape:disabled {
  color: #212529;
  background-color: #ab7ddb;
  border-color: #ab7ddb;
}

.btn-grape:not(:disabled):not(.disabled):active,
.btn-grape:not(:disabled):not(.disabled).active,
.show > .btn-grape.dropdown-toggle {
  color: #212529;
  background-color: #9155cf;
  border-color: #8949cc;
}

.btn-grape:not(:disabled):not(.disabled):active:focus,
.btn-grape:not(:disabled):not(.disabled).active:focus,
.show > .btn-grape.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(171, 125, 219, 0.5);
}

.btn-outline-grape {
  color: #ab7ddb;
  background-color: transparent;
  border-color: #ab7ddb;
}

.btn-outline-grape:hover {
  color: #212529;
  background-color: #ab7ddb;
  border-color: #ab7ddb;
}

.btn-outline-grape:focus,
.btn-outline-grape.focus {
  box-shadow: 0 0 0 0.2rem rgba(171, 125, 219, 0.5);
}

.btn-outline-grape.disabled,
.btn-outline-grape:disabled {
  color: #ab7ddb;
  background-color: transparent;
}

.btn-outline-grape:not(:disabled):not(.disabled):active,
.btn-outline-grape:not(:disabled):not(.disabled).active,
.show > .btn-outline-grape.dropdown-toggle {
  color: #212529;
  background-color: #ab7ddb;
  border-color: #ab7ddb;
}

.btn-outline-grape:not(:disabled):not(.disabled):active:focus,
.btn-outline-grape:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-grape.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(171, 125, 219, 0.5);
}

.list-group-item-grape {
  color: #6d30ad;
  background-color: rgba(16, 113, 12, 0.062745098) 2;
}

.list-group-item-grape.list-group-item-action:hover,
.list-group-item-grape.list-group-item-action:focus {
  color: #6d30ad;
  background-color: #fbf8fd;
}

.list-group-item-grape.list-group-item-action.active {
  color: #212529;
  background-color: #6d30ad;
  border-color: #6d30ad;
}

.table-grape,
.table-grape > th,
.table-grape > td {
  background-color: rgba(16, 113, 12, 0.062745098) 2;
}

.table-hover .table-grape:hover {
  background-color: #fbf8fd;
}

.table-hover .table-grape:hover > td,
.table-hover .table-grape:hover > th {
  background-color: #fbf8fd;
}

.text-grape {
  color: #ab7ddb !important;
}

a.text-grape:hover,
a.text-grape:focus {
  color: #9155cf !important;
}/*# sourceMappingURL=grape.css.map */